*{
    margin: 0;
    border: 0;
    position: relative;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 30px 10px;
    color: rgb(8, 0, 0);
    text-align: left;
    
    width: 1850px;
    height:scroll;
    margin: 50px;
    
  }
 .changeicon{
  height: 30px;
  width: 30px;
  font-size: 1rem;
  position: center;
  border: 3px solid grey;
  border-radius: 6px;
  background-color: white;
  position: relative;
  margin-top: 1px;
  
 }
 
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

  }
  
  
  .container {
    padding: 2px 16px;
  }

.clstable{
  table-layout: fixed;
  width: 100%;
  border: 3px solid black; 
}

.cp{
  font-size: large;
}
.hidden{
  display: none;
}
#cm{
  position: center;
  border: 3px solid black;
  border-radius: 3px;
  background-color: rgb(255, 255, 0);
  position: relative;
  margin-top: 10px;
  
}
#cm:hover{
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
.changeicon:hover{
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
#cm2{
  text-align: center;
}